tensorflow
jupyter-tensorboard
nodejs
npm
pybind11
gputools
stardist
pandas
pathlib
tifffile
scikit-tensor-py3
pyopencl

# pip install tensorflow jupyter-tensorboard nodejs npm pybind11 gputools stardist pandas pathlib tifffile scikit-tensor-py3 pyopencl
# ON WIN10 REPLACE PYOPENCL WITH path\to\pyopencl.whl